flows.json
[{"id":"15845d68.f80d23","type":"tab","label":"Fireworks IOT","disabled":false,"info":""},{"id":"2bc1ac06.e9f354","type":"inject","z":"15845d68.f80d23","name":"Take Photo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["8b350bd9.6cbdc8"]]},{"id":"8b350bd9.6cbdc8","type":"usbcamera","z":"15845d68.f80d23","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","name":"","x":290,"y":280,"wires":[["5637ee8e.b66c1","45175ff4.2403a"]]},{"id":"5637ee8e.b66c1","type":"image","z":"15845d68.f80d23","name":"","width":"240","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":480,"y":360,"wires":[]},{"id":"45175ff4.2403a","type":"cocossd","z":"15845d68.f80d23","name":"Reconhecimento de Imagem","x":590,"y":120,"wires":[["bbab7ade.174a18","c48df0e4.e3a8c"]]},{"id":"bbab7ade.174a18","type":"play audio","z":"15845d68.f80d23","name":"","voice":"0","x":760,"y":220,"wires":[]},{"id":"c48df0e4.e3a8c","type":"mqtt out","z":"15845d68.f80d23","name":"","topic":"vinyIOT/reconhecimento","qos":"","retain":"","broker":"7da5dedc.c64c3","x":990,"y":160,"wires":[]},{"id":"f3da5b97.18bbf8","type":"mqtt in","z":"15845d68.f80d23","name":"","topic":"vinyIOT/reconhecimento","qos":"2","datatype":"auto","broker":"7da5dedc.c64c3","x":310,"y":660,"wires":[["3fcdc946.56fe46","37a1abb8.9420b4"]]},{"id":"3fcdc946.56fe46","type":"azureiothub-ot","z":"15845d68.f80d23","name":"Azure IoT Hub","protocol":"amqp","x":700,"y":660,"wires":[[],[]]},{"id":"37a1abb8.9420b4","type":"debug","z":"15845d68.f80d23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":600,"wires":[]},{"id":"7da5dedc.c64c3","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]